.place__title {
  line-height: 76px;
  color: #ffffff;
  max-width: 460px;
  font-size: 72px;
  font-weight: 900;
  grid-column: 1;
}

@media (max-width: 768px) {
  .place__title {
    width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media (max-width: 320px) {
  .place__title {
    width: 288px;
    height: 35px;
    font-size: 32px;
    line-height: 35px;
  }
}
