.place__text {
  grid-area: place__text;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .place__text {
    row-gap: 14px;
    grid-row: 2/5;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .place__text {
    row-gap: 7px;
    width: 288px;
  }
}
