.place__website {
  grid-area: place__website;
  align-self: flex-end;
}

@media (max-width: 768px) {
  .place__website {
    width: 365px;
    max-width: 34ch;
  }
}
@media (max-width: 320px) {
  .place__website {
    width: 288px;
  }
}
